.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-auto-rows: 1fr;
    grid-gap : 1.25em;
    padding: 1.25em;
}
.item{
    display: flex;
    justify-content: content;
    align-items: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.one{
    grid-column: span 2;
    grid-row: span 2;
}
.two{
    grid-column: span 2;
    grid-row: span 2;
}
body{
    background-image: url(bg.jpg);
}
nav{
    box-shadow:2px 2px 2px 1px #888888;
}


