.container{
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: rgb(253, 214, 179);
    gap : 1em;
    background-image: url(./bg.jpg);
}
.col2{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col2row{
    display: flex;
    padding-top: 1em;
    justify-content: center;
    height:25%
   
}
.col2row a{
    text-decoration: none;
    vertical-align: center;
    color: black;
}
.col2row a:hover{
    color: rgb(252, 172, 128);
}
.col2row a p{
    font-size: 1.5em;
    vertical-align: middle;

}
.col1{
    width:30%
}
.col1row{
    width: 100%;
}
img{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        flex-direction: column;
    }
    .col1{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .col1 div{
        display: flex;
        width : 80%;
    }
    .col2{
        width : 100%;
        font-size: 0.8rem;
    }
    
}