.container{
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: rgb(253, 214, 179);
    gap : 1em;
    background-image: url(./bg.jpg);
}
.col2{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col2row{
    display: flex;
    padding-top: 1em;
    justify-content: center;
    height:25%
   
}
.col2row a{
    text-decoration: none;
    vertical-align: center;
}
.col2row a p{
    font-size: 1.5em;
    vertical-align: middle;

}
.col1{
    width:30%
}
.col1row{
    width: 100%;
}
img{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}